@model UserListDto

@{
    Layout = "_Layout";
    ViewBag.Title = "Kullanıcılar";
}

<div class="container-fluid">
    <ol class="breadcrumb mb-4 mt-4">
        <li class="breadcrumb-item">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                Yönetim Paneli
            </a>
        </li>
        <li class="breadcrumb-item active">Kullanıcılar</li>
    </ol>
    @if (Model.ResultStatus == ResultStatus.Success)
    {
        <div id="modalPlaceHolder" aria-hidden="true"></div>

        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Kullanıcı Listesi
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="spinner-border text-primary" role="status" style="display:none;">
                        <span class="sr-only">Yükleniyor...</span>
                    </div>
                    <table class="table table-bordered table-striped table-hover" id="usersTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Kullanıcı Adı</th>
                                <th>E-posta Adresi</th>
                                <th>Telefon Numarası</th>
                                <th>Resim</th>
                                <th>İşlem</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Kullanıcı Adı</th>
                                <th>E-posta Adresi</th>
                                <th>Telefon Numarası</th>
                                <th>Resim</th>
                                <th>İşlem</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model.Users)
                            {
                                <tr name="@item.Id">
                                    <td>@item.Id</td>
                                    <td>@item.UserName</td>
                                    <td>@item.Email</td>
                                    <td>@item.PhoneNumber</td>
                                    <td><img src="~/img/@item.Picture" alt="@item.UserName" class="my-image-table" /></td>
                                    <td>
                                        <a class="btn btn-warning btn-sm btn-update" data-id="@item.Id"><span class="fas fa-edit"></span></a>
                                        <a class="btn btn-danger btn-sm btn-delete" data-id="@item.Id"><span class="fas fa-trash text-white"></span></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>@Model.Message !</strong><br />
            Anasayfaya dönmek için <a asp-area="Admin" asp-controller="Home" asp-action="Index">linki</a> tıklayınız.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
</div>

@section Scripts{
    <script src="~/js/jsControllerModels/userIndex.js"></script>
}