@model CategoryListDto

@{
    Layout = "_Layout";
    ViewBag.Title = "Kategoriler";
}

<div class="container-fluid">
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                Yönetim Paneli
            </a>
        </li>
        <li class="breadcrumb-item active">Kategoriler</li>
    </ol>

    @if (Model.ResultStatus == ResultStatus.Success)
    {
        <div id="modalPlaceHolder" aria-hidden="true"></div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Kategori Listesi
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="spinner-border text-primary" role="status" style="display:none;">
                        <span class="sr-only">Yükleniyor...</span>
                    </div>
                    <table class="table table-bordered table-striped table-hover" id="categoriesTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Adı</th>
                                <th>Açıklama</th>
                                <th>Aktif Mi</th>
                                <th>Silinmiş Mi</th>
                                <th>Not</th>
                                <th>Oluşturma Tarihi</th>
                                <th>Oluşturan Kullanıcı</th>
                                <th>Düzenleme Tarihi</th>
                                <th>Düzenleyen Kullanıcı</th>
                                <th>İşlem</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Adı</th>
                                <th>Açıklama</th>
                                <th>Aktif Mi</th>
                                <th>Silinmiş Mi</th>
                                <th>Not</th>
                                <th>Oluşturma Tarihi</th>
                                <th>Oluşturan Kullanıcı</th>
                                <th>Düzenleme Tarihi</th>
                                <th>Düzenleyen Kullanıcı</th>
                                <th>İşlem</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model.Categories)
                            {
                                <tr name="@item.Id">
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>@item.Description</td>
                                    <td>@(item.IsActive ? "Evet" : "Hayır")</td>
                                    <td>@(item.IsDeleted ? "Evet" : "Hayır")</td>
                                    <td>@item.Note</td>
                                    <td>@item.CreatedDate.ToString("dd.MM.yyyy")</td>
                                    <td>@item.CreatedByName</td>
                                    <td>@item.ModifiedDate.ToString("dd.MM.yyyy")</td>
                                    <td>@item.ModifiedByName</td>
                                    <td>
                                        <a class="btn btn-warning btn-sm btn-update" data-id="@item.Id"><span class="fas fa-edit"></span></a>
                                        <a class="btn btn-danger btn-sm btn-delete" data-id="@item.Id"><span class="fas fa-trash"></span></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>@Model.Message !</strong><br />
            Anasayfaya dönmek için <a asp-area="Admin" asp-controller="Home" asp-action="Index">linki</a> tıklayınız.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
</div>

@section Scripts{
    <script src="~/js/jsControllerModels/categoryIndex.js"></script>
}